<div id="<%= dom_id sensor %>">
  <p>
    <strong>Name:</strong>
    <%= sensor.name %>
  </p>

  <p>
    <strong>Guid:</strong>
    <%= sensor.guid %>
  </p>

  <p>
    <strong>Unitofmeasure:</strong>
    <%= sensor.unitOfMeasure %>
  </p>

</div>
