<header>
  <nav class="font-sans flex justify-center py-4 px-6 bg-white shadow w-full">
  <div class="flex-auto w-1">
    <%= link_to root_path, class:"flex justify-center" do %>
            <%= image_tag asset_path("favicon.png"), class:"max-h-[30px]" %>
      <% end %>
  </div>
  <div class="flex-auto w-1">
    <a href="" class="flex justify-center text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2 max-h-[30px]">Sensori</a>
  </div>
</nav>
</header>